@import "tailwindcss";

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;

  --color-brand-purple-500: #9c59fe;
  --color-brand-purple-600: #6f53fd;
}

html {
  font-family: var(--font-sans);
}
