@import "tailwindcss";

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Digitalt", "Fredoka", ui-sans-serif, system-ui, sans-serif;

  --color-brand-purple-500: #9c59fe;
  --color-brand-purple-600: #6f53fd;
  --color-brand-purple-700: #8156fd;

  --color-brand-yellow-500: #fddb6d;

  --color-logo-gold: #fdcd6d;
  --color-logo-gold-grad-from: #e88c03;
  --color-logo-gold-grad-to: #ffbe2d;
  --color-logo-purple: #996cff;
  --color-logo-purple-grad-from: #bc9eff;
  --color-logo-purple-grad-to: #a17cff;

  --color-grey-300: #a4ABB8;
  --color-grey-400: #808897;
  --color-grey-700: #272835;
  --color-grey-800: #15161e;
}

@utility cursor-hand {
  cursor: url("/src/assets/cursor-hand.svg") 14 4, pointer;
}

html,
body {
  font-family: var(--font-sans);
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea,
[contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}

img,
svg {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}
